### INTRODUCTION TO PYTHON ###

In [1]:
# A variable is used to assign values in python.
# The variables cannot start with a number or cannot have a name given to builtin functions.
# You can assign different types of things like numbers,text to a variable.

var = 10  # assigns variable value 10
var2 = 'HI'  # assigns text to a variable

print(var,var2)  # prints whatever stored in variable

10 HI

In [3]:
# NOTE :Number written without quotes is treated as integer else it is treated as strings by python

x = 10
y = 20
z = "10"

add = x+y    # this will be 30
add2 = z+z   # this prints 10 concatenated with 10

print(add)
print(add2)

# you cannot add x+z, it will throw an error.

30
1010

In [4]:
#To check the data type or class

x= 10.1

print(type(x))

<class 'float'>

#### SPECIAL DATA TYPES IN PYTHON ####

In [6]:
## LISTS, TUPLES AND DICTIONARIES

##LISTS - They are ordered and mutable, that is, you can modify them anytime.
# they are written in [] square brackets.

students = ["Gary", "Olive", "Caohime"]
print(students, type(students))

##TUPLES - They are also ordered but immutable. Cannot be modified later on.
# they are written in () curly brackets.

days = ("Mon","Tue","Wed", "Thurs", "Fri", "Sat","Sun")
print(days, type(days))

##DICTIONARIES - They are defined in pairs (key and value). 
#Value is assigned to every key. Syntax - {key:value}

elements = {"carbon":2 , "hydrogen" :1}
print(elements, type(elements))

print(elements.keys())       # to extract keys
print(elements.values())     # to extract values

['Gary', 'Olive', 'Caohime'] <class 'list'>
('Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun') <class 'tuple'>
{'carbon': 2, 'hydrogen': 1} <class 'dict'>
dict_keys(['carbon', 'hydrogen'])

dict_values([2, 1])